.contacts {
  width: 300px;
  height: calc(100vh - 50px);
}

.title {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 20px;
  border-bottom: 1.5px solid var(--lightgrey2);
}

.list {
  width: 100%;
  height: calc(100vh - 86px);
  overflow-y: auto;

  &:hover::-webkit-scrollbar-thumb {
    background: var(--lightgrey2);
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--background);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--lightgrey1);
  }
}

.empty {
  margin-top: 20px;
  text-align: center;
}

@media screen and (max-width: 940px) {
  .contacts {
    display: none;
  }
}