.contacts {
  position: fixed;
  top: 50;
  right: 0;
  width: 300;
  height: calc(100vh - 50px);
  overflow-y: hidden;

  .contactsList {
    list-style-type: none;
  }
}

.contacts:hover {
  overflow-y: auto;
}

.contacts::-webkit-scrollbar {
  width: 5px;
}

.contacts::-webkit-scrollbar-track {
  border-radius: 10px;
}

.contacts::-webkit-scrollbar-thumb {
  background: var(--lightgrey2);
  border-radius: 10px;
}

.contacts::-webkit-scrollbar-thumb:hover {
  background: var(--lightgrey1);
}