.following {
  width: 300;
  height: calc(100vh - 165px);
  border-bottom: 1.5px solid var(--lightgrey2);

}

.title {
  margin-top: 10;
  margin-left: 10;
  font-size: 20;
  border-bottom: 1.5px solid var(--lightgrey2);
}

.list {
  height: calc(100vh - 200px);
  overflow-y: hidden;

  &:hover {
    overflow-y: auto;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--lightgrey2);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--lightgrey1);
  }
}

.empty {
  margin-top: 20;
  text-align: center;
}