.page {
  margin-top: 50;
  width: 100vw;
}

.main {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.fluxContainer {
  height: calc(100vh - 60px);
  padding: 20 20px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.flux {
  width: 600;
}