.info {
  display: flex;
  align-items: center;
  width: 600px;
  height: 35px;
  border: 1px solid var(--blue1);
  border-radius: 4px;
  background-color: white;
}

.infoIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 100%;
  background-color: var(--blue1);
}

.infoText {
  padding-left: 15px;
  font-size: 14px;
  font-weight: 500;
}