.page {
  display: flex;
  justify-content: center;
  width: 100vw;

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50;
    width: 600;

    .title {
      padding-bottom: 20;
    }

    .loginContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 400;
      height: 410;
      margin-top: 20;
      margin-bottom: 12;
      background-color: white;
      border: 1px solid var(--lightgrey3);
      border-radius: 5px;
      box-shadow: 0 1px 8px var(--lightgrey3);

      .loginTitle {
        font-size: 18;
        font-weight: 600;
        margin: 20 0;
      }

      .infoAlert {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 92%;
        height: 35;
        background-color: var(--lightyellow);
        border: 1px solid var(--gold);
        font-size: 12;
        font-weight: 450;
      }

      .input {
        width: 92%;
        height: 45;
        margin-top: 12;
        padding: 0 18;
        border: 1px solid var(--lightgrey3);
        border-radius: 4px;
        font-size: 16;
        font-weight: 500;
        font-family: var(--font-quicksand),
          Arial,
          sans-serif;

        &:focus {
          border-color: black;

          &::placeholder {
            opacity: 0.6;
          }
        }
      }

      .inputPwdContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 92%;
        height: 45;
        margin-top: 12;
        padding: 0 18;
        border: 1px solid var(--lightgrey3);
        border-radius: 4px;

        .inputPwd {
          width: 90%;
          padding: 2 0;
          border: none;
          font-size: 16;
          font-weight: 500;
          font-family: var(--font-quicksand),
            Arial,
            sans-serif;

          &:focus {
            border-color: black;

            &::placeholder {
              opacity: 0.6;
            }
          }
        }


      }

      .btnConnect {
        width: 92%;
        height: 45;
        margin-top: 12;
        color: white;
        background-color: var(--blue1);
        border: none;
        border-radius: 4px;
        font-family: var(--font-quicksand),
          Arial,
          sans-serif;
        font-size: 24;
        font-weight: 800;
        cursor: pointer;
      }

      .forgottenLink {
        margin-top: 12;
        color: var(--blue1);
        font-weight: 500;
        cursor: pointer;
      }

      .lineContainer {
        display: flex;
        align-items: center;
        margin-top: 12;

        .line {
          width: 160;
          height: 1.5;
          margin: 0 20;
          background-color: var(--lightgrey3);
        }

        .lineText {
          color: var(--lightgrey2);
          font-size: 14;
          font-weight: 600;
        }
      }

      .btnNewAccount {
        width: 65%;
        height: 45;
        margin: 12 0;
        background-color: var(--green1);
        color: white;
        border-radius: 4px;
        font-size: 18;
        font-weight: 800;
        text-align: center;
        align-content: center;
      }
    }
  }
}