.page {
  display: flex;
  justify-content: center;
  width: 100vw;

}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40;
  width: 600;
}

.page__title {
  padding-bottom: 10;
}

.register__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450;
  height: 570;
  margin-top: 20;
  margin-bottom: 12;
  background-color: white;
  border: 1px solid var(--lightgrey3);
  border-radius: 5px;
  box-shadow: 0 1px 8px var(--lightgrey3);
}

.register__title {
  margin-top: 12;
}

.slogan {
  margin-top: 2;
}

.line {
  width: 100%;
  height: 1;
  margin-top: 12;
  background-color: var(--lightgrey3);
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 410;
}

.name__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 18;
}

.name__input {
  width: 200;
  height: 40;
  padding: 0 14;
  border: 1px solid var(--lightgrey3);
  border-radius: 4px;
  font-size: 16;
  font-weight: 500;
  font-family: var(--font-quicksand),
    Arial,
    sans-serif;

  &:focus {
    border-color: black;

    &::placeholder {
      opacity: 0.6;
    }
  }
}

.birthdate__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 14;
}

.label__container {
  display: flex;
}

.label {
  font-size: 12;
  margin-right: 6;
}

.dialog {
  position: absolute;
  top: 50px;
  left: 50px;
  padding: 10px;
  border: 1px solid var(--lightgrey3);
  border-radius: 5px;
  box-shadow: 0 1px 8px var(--lightgrey3);
  font-size: 14px;
  width: 250px;
  z-index: 1000;
}

.select__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 4;
}

.select {
  width: 125;
  height: 35;
  border: 1px solid var(--lightgrey3);
  border-radius: 4px;
  font-size: 14;
  font-family: var(--font-quicksand),
    Arial,
    sans-serif;
}

.gender__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 14;
}

.checkbox__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 4;
}

.checkbox__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95;
  height: 35;
  padding: 0 5;
  border: 1px solid var(--lightgrey3);
  border-radius: 4px;
  font-size: 14;
  font-weight: 450;
}

.email__input {
  width: 100%;
  height: 40;
  margin-top: 14;
  padding: 0 14;
  border: 1px solid var(--lightgrey3);
  border-radius: 4px;
  font-size: 16;
  font-weight: 500;
  font-family: var(--font-quicksand),
    Arial,
    sans-serif;

  &:focus {
    border-color: black;

    &::placeholder {
      opacity: 0.6;
    }
  }
}

.password__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40;
  margin-top: 14;
  padding: 0 14;
  border: 1px solid var(--lightgrey3);
  border-radius: 4px;
}

.password__input {
  width: 90%;
  padding: 2 0;
  border: none;
  font-size: 16;
  font-weight: 500;
  font-family: var(--font-quicksand),
    Arial,
    sans-serif;

  &:focus {
    border-color: black;

    &::placeholder {
      opacity: 0.6;
    }
  }
}

.error__text {
  color: red;
  font-size: 12;
}

.policy__text {
  margin-top: 6;
  font-size: 11;
}

.register__btn {
  width: 200;
  height: 40;
  margin-top: 14;
  color: white;
  background-color: var(--green1);
  border: none;
  border-radius: 6px;
  font-family: var(--font-quicksand),
    Arial,
    sans-serif;
  font-size: 20;
  font-weight: 800;
  cursor: pointer;
}

.login__link {
  margin-top: 12;
  color: var(--blue1);
  font-size: 18;
  font-weight: 600;
}