.inputContainer {
  position: relative;
  width: 300;
  height: 35;
  margin-left: 10;
}

.input {
  width: 100%;
  height: 100%;
  padding-left: 20;
  border: none;
  border-radius: 22px;
  background-color: var(--lightgrey4);
  font-family: var(--font-quicksand), Arial, sans-serif;
  font-size: 16;
  font-weight: 450;

  &:focus {
    outline-color: var(--foreground);

    &::placeholder {
      opacity: 0.6;
    }
  }
}

.searchResultsContainer {
  background-color: white;
  position: absolute;
  top: 38;
  left: 0;
  border: 1px solid var(--lightgrey3);
  border-radius: 4px;
  box-shadow: 0 1px 8px var(--lightgrey3);
}