.sidenav {
  position: fixed;
  top: 50;
  left: 0;
  width: 300;
  height: 500;
  border-bottom: 1.5px solid var(--lightgrey2);
}

.sidenav__list {
  margin: 20;
  list-style-type: none;
  font-size: 24;
}